.container{
    max-width: 100%;
    border-bottom: 1px solid #dedede;
}
img{
max-width: 100%;
max-height: 35px;
}
.main-row
{
    padding: 32px 0;
    @media (max-width:768px) {
        display: block;
    }
}
span
{
    font-size: 20px;
    color: #4d525b;
    @media (max-width:768px) {
        font-size: 16px;
    }
}

.column-2{
    flex: 6;
}
.column-1{
    flex: 1;

}
.col-md-2,.column-4 ,.col-md-1{
    @media (max-width:768px) {
        margin-top: 16px;
    }
}
