body {
  font-family: "Regular", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
}
/*navbar*/
.navbar {
  padding: 9px 12px 9px 0;
  text-transform: capitalize;
}

.logo a {
  font-size: 1.25rem;
  text-decoration: none;
  color: rgba(0,0,0,.9);
  text-transform: capitalize;
}

.sign-in button {
  text-transform: capitalize;
  font-size: 15px;
  padding-top: 8px;
}
/*End of Navbar*/

/*Masthead*/

#masthead {
  padding: 12em;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/bg-masthead.jpg');
  background-size: cover;
}

@media(max-width: 767px) {
  #masthead {
    padding: 4em;
  }
}

#masthead h1 {
  font-weight: bold;
}

@media(max-width: 767px) {
  #masthead h1{
    font-size: 1.8em;
    font-weight: 600;
  }
}

@media(max-width: 767px) {
  #masthead button{
    margin-top: 15px;
  }
}

/* End of Masthead*/

/*Features*/
 .col-lg-4 .feature{
  max-width:20rem;
}

.features i{
  font-size: 70px;
}

.feature:hover i{
  transform: scale(1.1, 1.1);
  transition: .2s ease-in-out;
}

.features p {
  font-weight: 300;
  font-size: 18px;
}
/*End of Features*/

/*Details*/
.details {
  background-color: #fff;
  text-transform: capitalize;
}
.details .img-side{
  background:url("./assets/bg-details-1.jpg") ;
  background-size: cover;
  min-height: 30rem;
}
.details .details-side{
  padding: 120px ;
}
.details p{
  font-weight: 300;
  font-size: 18px;
}
@media (max-width: 767px) {
  .details .details-side{
    padding:  62px;
  }
}
/*End of Details*/













